* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

html {
  font-size: 10px; }

body {
  background-color: white;
  margin: 0px;
  font-family: 'Proxima Nova', sans-serif; }

header {
  position: fixed;
  top: 0px;
  width: 100%;
  height: 80px;
  background-color: #fff;
  margin: 0px;
  z-index: 999;
  padding: 5px 5%; }
  header img {
    height: 95%; }
  header nav {
    text-align: right;
    float: right;
    padding: 20px 2%;
    font-family: 'Bariol-Face';
    font-size: 2em; }
  header a {
    color: #404040;
    margin-left: 30px;
    text-decoration: none; }
    header a:hover {
      color: #53cce8; }

#hello {
  padding: 30px 10% 30px 10%;
  background-color: #53cce8;
  min-height: 800px;
  width: 100%;
  font-size: 2.4em;
  color: #fff; }
  #hello h1 {
    font-size: 3.4em;
    font-family: "Bariol-Face";
    margin: 0px; }
  #hello p {
    font-family: 'Proxima Nova';
    margin-top: 10px;
    font-size: .85em;
    line-height: 32px; }
  #hello .scroll {
    text-align: center;
    position: relative;
    top: -80px;
    font-size: .9em;
    font-family: "Bariol-Face"; }

.intro {
  padding-top: 70px; }

#work {
  width: 100%;
  font-size: 2.6em;
  background-color: #fff;
  padding: 50px 0px;
  text-align: center; }

.main-work {
  font-size: 2em;
  padding: 0px 0px;
  background-color: #fff; }
  .main-work .hero {
    width: 100%;
    min-height: 500px;
    display: table; }
    .main-work .hero .container {
      display: table-cell;
      text-align: center;
      vertical-align: middle;
      color: #ffffff;
      padding: 0px 50px; }
      .main-work .hero .container h1 {
        font-family: "Bariol-Face";
        font-size: 1.8em;
        margin: 0px 0px 15px 0px; }
      .main-work .hero .container p {
        font-size: 1em;
        margin: 0px;
        padding: 0px; }

.tint {
  z-index: 1;
  width: 100%;
  position: relative;
  top: 0px;
  left: 0px;
  background: rgba(0, 0, 0, 0.5); }

.hero-1 {
  background-color: #53cce8; }

.hero-2 {
  background-color: #f83851; }

.hero-3 {
  background-color: #e4bf00; }

.hero-4 {
  background-color: #ac1529; }

.work-content {
  padding: 0px 10% 20px 10%;
  font-size: .6em;
  line-height: 1.8em;
  text-align: left; }
  .work-content b {
    font-family: "Bariol-Face";
    font-size: 1.2em; }
  .work-content a {
    color: #199dbc;
    text-decoration: none; }
    .work-content a:hover {
      color: #53cce8; }

.gallery a {
  padding-right: 10px; }

.gallery-container {
  padding: 10px 10% 0px 10%;
  margin: 0px; }

#more-projects {
  padding-top: 60px;
  min-height: 800px;
  width: 100%;
  font-size: 2.6em;
  background-color: #f83851;
  color: #fff; }
  #more-projects h1 {
    text-align: center;
    font-size: 2.5em; }
  #more-projects h2 {
    padding: 0px;
    margin-bottom: 5px; }
  #more-projects h3 {
    padding: 0px;
    margin-top: 0px; }

#quotes {
  height: 250px;
  width: 100%;
  font-size: 3em;
  background-color: #53cce8; }
  #quotes h1 {
    color: #199dbc;
    text-align: center;
    margin: 0px;
    padding-top: 80px; }

#contact {
  background: url("../images/pencils.jpg") no-repeat center center;
  background-attachment: fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  min-height: 500px;
  width: 100%;
  font-size: 3.4em;
  background-color: #2fb4ad;
  margin: 0px; }

#info {
  margin: 0 10%;
  padding-top: 100px;
  color: #404040;
  text-align: right;
  line-height: 50px; }
  #info h1 {
    color: #199dbc;
    padding-bottom: 15px;
    margin: 0px; }
  #info a {
    color: #f83851; }
    #info a:hover {
      color: #c3071f; }

.readMoreBtn {
  font-size: 1em;
  display: inline-block;
  margin: 40px;
  padding: 10px 25px;
  color: white;
  border: 2px solid white;
  text-align: center; }
  .readMoreBtn:hover {
    background-color: white;
    color: #f83851; }

.project-hero {
  width: 100%;
  min-height: 550px;
  display: table;
  font-size: 2.6em; }
  .project-hero .container {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
    height: 189px;
    color: #ffffff;
    padding: 0px 150px; }
    .project-hero .container h1 {
      font-family: "Bariol-Face";
      font-size: 1.8em;
      margin: 0px 0px 10px 0px; }
    .project-hero .container p {
      font-size: 1em;
      margin: 0px;
      padding: 0px; }

.case-study {
  font-size: 1.6em;
  padding: 0px 10% 20px 10%; }
  .case-study h1 {
    font-family: "Bariol-Face";
    font-size: 2em;
    padding: 0px;
    margin: 0px; }
  .case-study p {
    font-size: 1em;
    line-height: 2em; }

.right {
  text-align: right; }

.grid-big {
  width: 50%;
  margin: 0px -1px 0px 0px;
  display: inline-block; }

.vert-top {
  vertical-align: top; }

.row {
  width: 100%; }

.grid-1 {
  width: 100%;
  display: inline-block; }
  @media (min-width: 700px) {
    .grid-1 {
      width: 3.33333%;
      margin: 2.5%; } }

.grid-2 {
  width: 100%;
  display: inline-block; }
  @media (min-width: 700px) {
    .grid-2 {
      width: 11.66667%;
      margin: 2.5%; } }

.grid-3 {
  width: 100%;
  display: inline-block; }
  @media (min-width: 700px) {
    .grid-3 {
      width: 20%;
      margin: 2.5%; } }

.grid-4 {
  width: 100%;
  display: inline-block; }
  @media (min-width: 700px) {
    .grid-4 {
      width: 28.33333%;
      margin: 2.5%; } }

.grid-5 {
  width: 100%;
  display: inline-block; }
  @media (min-width: 700px) {
    .grid-5 {
      width: 36.66667%;
      margin: 2.5%; } }

.grid-6 {
  width: 100%;
  display: inline-block; }
  @media (min-width: 700px) {
    .grid-6 {
      width: 45%;
      margin: 2.5%; } }

.grid-7 {
  width: 100%;
  display: inline-block; }
  @media (min-width: 700px) {
    .grid-7 {
      width: 53.33333%;
      margin: 2.5%; } }

.grid-8 {
  width: 100%;
  display: inline-block; }
  @media (min-width: 700px) {
    .grid-8 {
      width: 61.66667%;
      margin: 2.5%; } }

.grid-9 {
  width: 100%;
  display: inline-block; }
  @media (min-width: 700px) {
    .grid-9 {
      width: 70%;
      margin: 2.5%; } }

.grid-10 {
  width: 100%;
  display: inline-block; }
  @media (min-width: 700px) {
    .grid-10 {
      width: 78.33333%;
      margin: 2.5%; } }

.grid-11 {
  width: 100%;
  display: inline-block; }
  @media (min-width: 700px) {
    .grid-11 {
      width: 86.66667%;
      margin: 2.5%; } }

.grid-12 {
  width: 100%;
  display: inline-block; }
  @media (min-width: 700px) {
    .grid-12 {
      width: 95%;
      margin: 2.5%; } }

@font-face {
  font-family: 'Bariol-Face';
  src: url("fonts/bariol_regular-webfont.eot");
  src: url("fonts/bariol_regular-webfont.eot?#iefix") format("embedded-opentype"), url("fonts/bariol_regular-webfont.woff2") format("woff2"), url("fonts/bariol_regular-webfont.woff") format("woff"), url("fonts/bariol_regular-webfont.ttf") format("truetype"), url("fonts/bariol_regular-webfont.svg#bariol_regularregular") format("svg");
  font-weight: normal;
  font-style: normal; }

/*# sourceMappingURL=stylev2.css.map */
