$bariol : 'Bariol-Face';
$mainBlack : #404040;
$cyan: #53cce8;
$pink: #f83851;

* {
    
   -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
     box-sizing: border-box;   
}

html {
    
 font-size:    10px;   
}

body {
    
 background-color: white;
 margin: 0px;  
 font-family: 'Proxima Nova', sans-serif;

 
    
}

hr {
    
 width: 80%;
    border: 1px solid #c9c9c9;
    margin: 30px auto;
}



   a {
       color: darken($cyan,20%);
        text-decoration: none;

        &:hover { color: $cyan;}
    }

header {

position: fixed;
top: 0px;
width: 100%;
height: 80px;
background-color: #fff;
margin: 0px; 
z-index: 999;
padding: 5px 5%;

    img {
    
        height: 95%;
    }
    
    nav {
        
        text-align: right;
        float: right;
        padding: 20px 2%;
        font-family: 'Bariol-Face';
        font-size: 2em;
    }
    
    a {
        color: $mainBlack;
        margin-left: 30px;
        text-decoration: none;
        
        &:hover {
            
            color: $cyan;
            
        }
    }
}


.video {
    

}

#hello {

 padding:   30px 10% 30px 10%;
background-color:  $cyan;
    overflow: hidden;
        
 //padding: 0px 5%;
 min-height: 800px;
width: 100%;
font-size: 2.4em;
color: #fff;   
    
    h1 {
        
     font-size: 3.4em;
        font-family: $bariol;
    margin: 0px;    
    }
    
    p {
        font-family: 'Proxima Nova';
     margin-top: 10px; 
        font-size: .85em;
        line-height: 32px;
        
    }
    
    .scroll {
    
 text-align: center; position: relative; top:-1%; font-size: .9em;
    font-family: $bariol;
}
}

.intro {
    
 padding-top: 70px;   
}


#work {
    
 
width: 100%;
font-size: 2.6em;
background-color: #fff;
    padding: 50px 0px;
    text-align: left;
 
    
    
  
    
}

  .work-row {
      
   background-color: #f3f3f3;
      margin: 2%;
      padding: 10px 20px;
  }


.main-work {
 font-size: 2em;
padding: 0px 0px;
    background-color: #fff;
    

    


.hero {
     
 width: 100%;
 min-height: 400px;
display:table;
    
    .container {
        
     display: table-cell;
text-align: center;
vertical-align: middle;

    color: #29211f;
        padding: 0px 30px;
        
        h1 {
            font-family: $bariol;
         font-size: 1.6em;
           
            margin: 0px 0px 25px 0px;
       
        }
        
         p {
            
         font-size: .9em; 
        margin: 0px; 
         
             line-height: 1.8em;
             padding: 0px;
        }
    }
    
}
    
}


.tint {
    
  z-index: 1;
 
width: 100%;
position: relative;
top: 0px;
left: 0px;
background: rgba(#000, 0.5);    
}
.hero-1 {
    
 background: url('../images/empower.jpg') no-repeat center center;

-webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
background-size: cover;   
    
  //  background-color: $cyan;
}


.hero-2 {
    
 background: url('../images/hero.jpg') no-repeat center center;

-webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
background-size: cover;   
    //background-color: $pink;
}

.hero-3 {
    
 background: url('../images/creativestate.png') no-repeat center center;

-webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
background-size: cover;  
    
    
}

.hero-4 {
    
 background: url('../images/dtdc.jpg') no-repeat center center;
background-attachment: fixed;
-webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
background-size: cover;    
    background-color: #eee;
}

.hero-5 {
    
 background: url('../images/trenton-makes-bridge.jpg') no-repeat center center;
background-attachment: fixed;
-webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
background-size: cover;    
    background-color: #eee;
}




.work-content {
    padding: 0px 10% 20px 10%;
     font-size: .6em;
    line-height: 1.8em;
    text-align: left;
    
    
 b {
     font-family: $bariol;
  font-size: 1.2em;
     
 }
    
    
 
    

    
}



//.gallery a {
//    
// padding-right: 10px;   
//}

.gallery-container {
    
    padding: 10px 10% 0px 10%; 
    margin: 0px;

}


#more-projects {
    font-family: $bariol;
    padding-top: 60px;
  min-height: 800px;
width: 100%;
font-size: 2.6em;
background-color: #f83851;
    color: #fff;
    
    h1 {
     text-align: center;
    font-size: 2.5em;
    
    }
    
    h2 {
     padding: 0px; 
        margin-bottom: 5px;
 
    }
    
    p {
        font-size: 1.1em;
        font-family: 'Proxima Nova';
     padding: 0px; 
        margin-top: 10px;
    }

    
}

#quotes {
    font-family: $bariol;
      height: 250px;
width: 100%;
font-size: 3em;
background-color:  $cyan  ;
    
    h1 {
        color: darken( $cyan, 20%);
        text-align: center;
     margin: 0px;
        padding-top:80px;
        
    }
    
}

#contact {
    font-family: $bariol;
    background: url('../images/pencils.jpg') no-repeat center center;
background-attachment: fixed;
-webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
background-size: cover;   
      min-height: 500px;
width: 100%;
font-size: 3.4em;
background-color: #2fb4ad ;
    margin: 0px;
   
    
}

#info {
    
    margin: 0 10% ;
    padding-top: 100px;
    
  color: $mainBlack;
    text-align: right;
    line-height: 50px;
    
    h1 {
    color: darken( $cyan, 20%);
     padding-bottom: 15px;
    margin: 0px;
    }
    
    a {
      color: #f83851;
        
        &:hover {
         color: darken(#f83851, 20%);   
        }

    
    }
    
 
}

  .readMoreBtn {
    font-size: 1em;
      display: inline-block;
      margin: 40px;
      padding: 10px 25px;
      
      color: $pink;
      border: 2px solid $pink;
      text-align: center;
      
      
      
      
      &:hover {
   
          color: darken($pink, 20%);
          border: 2px solid darken($pink, 20%);
        
      
      }
      
    
}


//project page stuff

.project-hero {
     
 width: 100%;
 min-height: 550px;
display:table;
    font-size: 2.6em;
    
    .container {
        
     display: table-cell; 
text-align: center;
vertical-align: middle;
height: 189px;
    color: #ffffff;
        padding: 0px 150px;
        
        h1 {
            font-family: $bariol;
         font-size: 1.8em;
            margin: 0px 0px 10px 0px;
       
        }
        
         p {
            
         font-size: 1em; 
        margin: 0px; 
             padding: 0px;
        }
    }
     
}

.quote {
    
 line-height: 2.4em;
font-size: 1.2em;
    font-weight: thin;
    font-style: italic;
}

em {
 background-color: lighten($cyan, 30%);   
    
}

.case-study {
    
 font-size: 1.6em; 
padding: 0px 10% 20px 10%;
    
    h2 {
        
     font-weight: normal;
    font-family: $bariol;
        
    color: darken($cyan, 20%);
        font-style: italic;
     margin: 0px 0px 0px 25px;
        
    }
    
    .info {
     text-align: right;
        
        h2 {
            margin: 20px 0px 5px 0px;
           font-weight: normal;
        }
        
    }
    
    
    h1 {
        
     font-family: $bariol;
        font-size: 2em;
        padding: 0px;
        margin: 0px;
    }
    
    p{
        
     font-size: 1em;
    line-height: 2em;
    }
}


.right {
 text-align: right;   
}

.left {
    
 text-align: left;   
}





//Grid stuff

.grid-big {
    
 width: 50%;
margin: 0px -1px 0px 0px;
    
   
    display: inline-block;
}

.vert-top {
    
 vertical-align: top;   
}

.row {
    
 width: 100%;   
}

$margin: 2.5%;


@for $i from 1 through 12 {
   
    
 $width: ((((100/ 12) * $i)) - 5)/100*100%; 
    
    .grid-#{$i} {
      width: 100%;
     display: inline-block;
        
   // background-color: antiquewhite;
        
        @media(min-width: 800px) {
            width: $width;
            margin: $margin;
            vertical-align: middle;
            
        }   
        
    }
    
}

@font-face {
    font-family: 'Bariol-Face';
    src: url('fonts/bariol_regular-webfont.eot');
    src: url('fonts/bariol_regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/bariol_regular-webfont.woff2') format('woff2'),
         url('fonts/bariol_regular-webfont.woff') format('woff'),
         url('fonts/bariol_regular-webfont.ttf') format('truetype'),
         url('fonts/bariol_regular-webfont.svg#bariol_regularregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

.featherlight .featherlight-content {
 padding: 0px !important;
    border-bottom: 0px !important;
}

.featherlight-next:hover,
	.featherlight-previous:hover {
		background: rgba(255,255,255,0);
        
	}

	.featherlight-next span,
	.featherlight-previous span {
 
        text-shadow: none;
    }

@media(max-width: 800px) {
 
    
    header {
        
        text-align: center;
        nav {
      
   display: none;   
  }
        
        img {
          
            
        }
    }
    
    
    .video {
     display: none;   
    }
    
    .work-content {
        
        text-align: center;
     
        img {
            
         width: 80%;
            
        }
        
        p {
          margin-bottom: 50px;  
        }
        
     
    }
    
    .project-hero {
     font-size: 2.4em; 
        
        .container {
         padding: 0 50px;   
        }
    }
    
    .case-study {
        
     section {
         
      padding-top: 40px;  
     }
        
        .info {
            
         text-align: center;   
        }
    }
    
}


@media(max-width: 440px) {
    
    #info {
     padding: 20px 10px;
        text-align: center;
    }
    
}